<a href="https://colab.research.google.com/github/Park-New-project/TIL/blob/main/%5BAI%5D_220926.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 함수의 정의
def test():
    print("test...")
    print("=============================================")
    print("이름 나이 주소 국어 영어 수학 총점 평균 학점")
    print("=============================================")

In [ ]:
# 함수의 호출
test()

test...
=============================================
이름 나이 주소 국어 영어 수학 총점 평균 학점
=============================================

In [ ]:
def test2(name):
  print(name, "hello...")

In [ ]:
test2("kim")

kim hello...

In [ ]:
def test3(i):
  i+=1
  return i

In [ ]:
index= test3(10)
print(index)

11

# 주의할 점
- 파이썬 인터프리터는 함수 정의 시 즉시 실행하지 않는다.
- 함수 정의 후 실행해야 한다.

# 디폴트 인수
- 매개변수가 기본 값을 가질 수 있다.

In [ ]:
# 디폴트 인수
# 함수의 정의

def greet(name, msg):
  print("안녕하세요!")
  print(name, "님!")
  print(msg)

In [ ]:
greet("kim") # 인수 개수가 맞지 않아 오류

TypeError: ignored

In [ ]:
# 디폴트 인수
# 함수의 정의

def greet(name, msg="별일 없죠?"):
  print("안녕하세요!")
  print(name, "님!")
  print(msg)

In [ ]:
greet("kim") # 디폴트 인수

안녕하세요!
kim 님!
별일 없죠?

In [ ]:
def greet2(name, msg="별일 없죠?", age): #디폴트 인수는 제일 오른쪽
  print("안녕하세요!")
  print(name, "님!")
  print(msg)

SyntaxError: ignored

In [ ]:
def greet2(name, age=0, msg="별일 없죠?"):
  print("안녕하세요!")
  print(name, "님!")
  print(msg)

In [ ]:
greet2("kim")

안녕하세요!
kim 님!
별일 없죠?

In [ ]:
greet2("kim", age=10)

안녕하세요!
kim 님!
별일 없죠?

# 키워드 인수
- 인수들이 위치가 아니라 키워드에 의해 함수로 전달되는 방식

In [ ]:
# 키워드 인수

def calc(x,y,z):
  return x+y+z

In [ ]:
calc(10,20,30)

60

In [ ]:
calc(x=10,y=20,z=30)

60

In [ ]:
calc(y=10,x=30,z=20)

60

# 참조에 의한 인수 전달
- call-by-value
- call-by-reference

In [ ]:
# call-by-value
def modify_v(s):
  s+=" To You"

  print("modify_v 내부:", s)

In [ ]:
msg = "Happy Birthday"
print(msg)
print()

modify_v(msg) # return 하지 않으면 지역변수 사라지므로 값에 영향을 주지 않음
print("modify_v :", msg)

Happy Birthday

modify_v 내부: Happy Birthday To You
modify_v : Happy Birthday

In [ ]:
# call-by-reference
def modify_r(li):
  li += [100,200]

In [ ]:
list1 = [1,2,3,4,5]
print(list1)
print()

modify_r(list1) 
print("modify_r :",list1)

[1, 2, 3, 4, 5]

modify_r : [1, 2, 3, 4, 5, 100, 200]

# 지역 변수
- 함수 내부에 있는 변수
- 함수 외부에 영향을 주지 않는다
- 함수 종료 시 소멸

# 전역 변수
- 함수 외부에 있는 변수
- 전역변수를 함수 안에서 사용하려면 global 키워드

In [ ]:
# 지역변수
def sub():
  s = "banana" # 지역변수
  print("함수 안 :",s)

In [ ]:
sub()

함수 안 : banana

In [ ]:
# 전역변수
def sub2():
  print("함수 안 :",s)

In [ ]:
s = "apple"
sub2()

함수 안 : apple

In [ ]:
def sub3():
  s = "banana"
  print("함수 안 :", s)

In [ ]:
s = "apple"
sub3()
print("함수 밖 :", s)

함수 안 : banana
함수 밖 : apple

In [ ]:
def sub4():
  global s # s를 전역변수로 쓰겠다
  print("함수 안 global:", s)
  s= "banana"
  print("함수 안 s 값 변경:", s)

In [ ]:
s="apple" # 전역변수
sub4()
print("함수 밖 :", s) # sub3 과 달리 s 값 바뀜

함수 안 global: apple
함수 안 s 값 변경: banana
함수 밖 : banana

In [ ]:
def sub5(x,y):
  global a    # 전역변수
  
  a= 7
  x, y = y, x # 지역변수
  b= 3        # 지역변수

  print("함수 안 :",a,b,x,y)

In [ ]:
a,b,x,y = 1,2,3,4

sub5(x,y) 

print("함수 밖 :",a,b,x,y)

# 예상 결과 
# 함수 안 : 7 3 4 3
# 함수 밖 : 7 2 3 4

함수 안 : 7 3 4 3
함수 밖 : 7 2 3 4

# 여러 개의 값 반환 하기

In [ ]:
# return에 여러 개의 값을 반환
def sub6():
  return 1,2,3

In [ ]:
t1 = (10, 20, 30)
t2 = 10, 20, 30

a,b,c = t1
print("t1 : ", a,b,c)
print("t1 type: ", type(t1))

a,b,c = t2
print("t2 : ", a,b,c)
print("t2 type: ", type(t2))

t1 :  10 20 30
t1 type:  <class 'tuple'>
t2 :  10 20 30
t2 type:  <class 'tuple'>

In [ ]:
sub6()

(1, 2, 3)

In [ ]:
print("sub6 type: ", type(sub6()))

sub6 type:  <class 'tuple'>

In [ ]:
a,b,c = sub6()
print(a,b,c)

1 2 3

# 무명 함수
- 이름은 없고 몸체만 있는 함수이다. (lambda)

In [ ]:
# 람다 함수의 정의
sum = lambda x,y:x+y

In [ ]:
# 람다 함수의 호출
sum(100,200)

300

# 모듈
- 함수나 변수를 모아놓은 파일
- 폴더, 패키지, 라이브러리(API)

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:
import sys
sys.path.append('/content/gdrive/MyDrive/Colab')

In [ ]:
print(sys.path)

['/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython', '/content/gdrive/MyDrive/Colab']

In [ ]:
import testA

testA.addTest(10,20)

30

In [ ]:
from testA import *

addTest(100, 200)

300

In [ ]:
from fun import *

subTest(100, 200)

-100

In [ ]:
from fun import *

mulTest(100, 200)

20000

In [ ]:
from fun import *

divTest(100, 200)

0.5

# OOP (객체지향 프로그래밍)
- 캡슐화 (Encapsulation)
- 상속 (Inheritance)
- 다형성 (Polymorphism)

# 객체 (Object)
- 상태와 동작을 갖는다.
- 상태 : 속성 (변수)
- 동작 : 기능 (함수)
- 객체 = 필드 + 메소드

# 클래스 (Class)
- 객체에 대한 설계도
- 인스턴스 : 클래스로 만들어지는 객체
- 사용자 정의 자료형
- 첫 글자 대문자

# 캡슐화
- 데이터(변수)와 알고리즘(함수)을 하나로 묶어 공용 인터페이스를 제공하고 세부 사항을 감춘다. (은닉화)

# 생성자 함수
- 클래스명()
- 객체를 메모리에 로딩

# 인스턴스 변수
- 클래스의 메소드 아래에서 사용
- self.변수명
- 힙에 메모리 잡힌다.

In [ ]:
class Counter:
  # 메서드
  def reset(self):
    self.count = 0 # 인스턴스 변수 (Heap)
    x = 10 # 지역변수 (Stack)

In [ ]:
a = Counter()
print(a) # main.Counter 주소
print(type(a)) # main.Counter 사용자 정의 자료형

<__main__.Counter object at 0x7f354d70dfd0>
<class '__main__.Counter'>