<a href="https://colab.research.google.com/github/Park-New-project/TIL/blob/main/%5BAI%5D_220923.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple
- 튜플은 , 없으면 단일 요소와 같음
- 괄호 생략 가능
- 인덱스로 참조 가능

In [ ]:
t=(5)
print(t)
print(type(t))

5
<class 'int'>

In [ ]:
t=(5,)
print(t)
print(type(t))

(5,)
<class 'tuple'>

In [ ]:
t= (5,7,9)
print(t)
print(type(t))

(5, 7, 9)
<class 'tuple'>

In [ ]:
t= 5,7,9
print(t)
print(type(t))

(5, 7, 9)
<class 'tuple'>

In [ ]:
a,b,c = 1,2,3
print(a, " ", b, " ",c)

1   2   3

In [ ]:
t[0]

5

In [ ]:
t[1] = 10 #튜플은 값 변경 불가능

TypeError: ignored

# 부분 튜플 (슬라이싱)
- 리스트와 동일
- testTuple[i]
- testTuple[start:]
- testTuple[:stop]
- testTuple[start:stop]
- 전체 : testTuple[:] 
- 새로운 부분 튜플 만드는 원리

# 튜플 연결
- +: 튜플 연결 (합집합)

# 튜플 패킹, 언패킹
- testTuple = 1, 2, 3
- a, b, c = testTuple

# 튜플 메소드 
- index(x) 매개변수와 일치하는 첫번째 요소 인덱스 리턴 없으면 valueError

# 튜플 메소드 
- count(x) : 매개변수와 일치하는 요소 있으면 개수 리턴, 없으면 0

In [ ]:
t = (1,3,5,7,9,11,13,15)

print(t)
print(t[:])

(1, 3, 5, 7, 9, 11, 13, 15)
(1, 3, 5, 7, 9, 11, 13, 15)

In [ ]:
print(t[3:])
print(t[:5])
print(t[2:6])

(7, 9, 11, 13, 15)
(1, 3, 5, 7, 9)
(5, 7, 9, 11)

In [ ]:
t1 = (1, 2, 3)
t2 = 4, 5, 6
t1 + t2

(1, 2, 3, 4, 5, 6)

In [ ]:
# packing & unpacking

t= 1, 2, 3
print(t)

a, b, c = t
print(a, " ", b, " ", c)

(1, 2, 3)
1   2   3

In [ ]:
t= (1,2,3,4,1,2,3,4)
print(t)

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
t.index(4)

3

In [ ]:
t.count(4)

2

In [ ]:
t.count(5)

0

# 집합 (set)
- 집합에 관련된 기능을 쉽게 하기 위해 만들어진 자료형이다
- 집합은 중복된 데이터가 존재하지 않는다.
- 집합 내의 요소들의 순서가 없다.

# 집합 생성
- 빈집합 s = set()
- 리스트 이용 s=set([1,2,3,4,5,6,7])
- 문자열을 이용한 집합생성 s=set("안녕하세요")

# 집합 요소 접근
- 인덱스로 접근하려면 리스트나 튜플로 형변환 해야한다.

In [ ]:
#Set
s= set()
s

set()

In [ ]:
s = set([1,2,3,4,1,2,3]) # 중복 제거
s

{1, 2, 3, 4}

In [ ]:
s = set("안녕하세요. 고객님")
s

{' ', '.', '객', '고', '녕', '님', '세', '안', '요', '하'}

In [ ]:
s =set([1,2,3,4,5])
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s[0] # 인덱스 참조 불가

TypeError: ignored

In [ ]:
list_s= list(s)
list_s

[1, 2, 3, 4, 5]

In [ ]:
list_s[0]= 100
print(list_s[0]) # 형변환을 통해 인덱스 참조

100

In [ ]:
tuple_s= tuple(s)
tuple_s

(1, 2, 3, 4, 5)

In [ ]:
tuple_s[0]

1

In [ ]:
name = "hello"
print(name)

list(name)

hello

['h', 'e', 'l', 'l', 'o']

# 집합 연산
- 합집합 | union()
- 교집합 & intersection()
- 차집합 - difference()

# 집합 메소드 
- add() : 집합 원소 한 개 추가

# 집합 메소드 
- update() : 집합 원소 여러 개 추가

# 집합 메소드 
- remove(x) : 특정 원소 제거

In [ ]:
s1 = set([1,3,5,7,9,11,12])
s2 = set([2,4,6,8,10,11,12])
print(s1)
print(s2)

{1, 3, 5, 7, 9, 11, 12}
{2, 4, 6, 8, 10, 11, 12}

In [ ]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [ ]:
s1 & s2

{11, 12}

In [ ]:
s1.intersection(s2)

{11, 12}

In [ ]:
s1-s2

{1, 3, 5, 7, 9}

In [ ]:
s1 = set([1,3,5,7,9,11,12])
print(s1)

s1.add(13)
print(s1)

{1, 3, 5, 7, 9, 11, 12}
{1, 3, 5, 7, 9, 11, 12, 13}

In [ ]:
s1. update([20,30,40])
print(s1)

{1, 3, 5, 7, 40, 9, 11, 12, 13, 20, 30}

In [ ]:
print(s1)
s1.remove(13)
print(s1)

{1, 3, 5, 7, 40, 9, 11, 12, 13, 20, 30}
{1, 3, 5, 7, 40, 9, 11, 12, 20, 30}

# Dictionary (딕셔너리)
- key, value (hashTable 같음)
- key 에는 정수, 실수, 문자열 등이 사용
 가능하다.

# keys()
- Dictionary의 key 리스트 출력
- 반복문에 사용

# values()
- Dictionary의 value 리스트 출력 
- 반복문에 사용

# items()
- Dictionary의 key, value 튜플로 동시 출력
- 반복문에 사용

# get()
- get(key, default_val)
- 값이 없을 경우 default_val 출력

# setdefault()
- Dictionary의 특정 key의 value 값을 처음 한 번만 설정
- 기존 value 값이 존재하면 기존 값을 유지한다

In [ ]:
#dic

myDic = {"apple":"사과", "dog":"개","cat":"고양이"}
print(myDic)
print(type(myDic))

{'apple': '사과', 'dog': '개', 'cat': '고양이'}
<class 'dict'>

In [ ]:
myDic["apple"]

'사과'

In [ ]:
myDic["cat"]

'고양이'

In [ ]:
myDic.values()

dict_values(['사과', '개', '고양이'])

In [ ]:
for value in myDic.values():
  print(value)

사과
개
고양이

In [ ]:
myDic

{'apple': '사과', 'dog': '개', 'cat': '고양이'}

In [ ]:
myDic.keys()

dict_keys(['apple', 'dog', 'cat'])

In [ ]:
for key in myDic.keys():
  print(key)

apple
dog
cat

In [ ]:
for key in myDic.keys():
  print(myDic[key])

사과
개
고양이

In [ ]:
myDic

{'apple': '사과', 'dog': '개', 'cat': '고양이'}

In [ ]:
myDic.items()

dict_items([('apple', '사과'), ('dog', '개'), ('cat', '고양이')])

In [ ]:
for item in myDic.items():
  print(item)

('apple', '사과')
('dog', '개')
('cat', '고양이')

In [ ]:
"cat" in myDic.keys()

True

In [ ]:
"lion" in myDic.keys()

False

In [ ]:
"사과" in myDic.values()

True

In [ ]:
"사자" in myDic.values()

False

In [ ]:
myDic.get("apple", "없음")

'사과'

In [ ]:
myDic.get("lion", "없음")

'없음'

In [ ]:
myDic.setdefault("lion", "사자")
myDic

{'apple': '사과', 'dog': '개', 'cat': '고양이', 'lion': '사자'}

In [ ]:
myDic.setdefault("dog", "강아지") # 바뀌지 않음
myDic

{'apple': '사과', 'dog': '개', 'cat': '고양이', 'lion': '사자'}

In [ ]:
myDic["dog"] = "강아지" # 바뀜
myDic

{'apple': '사과', 'dog': '강아지', 'cat': '고양이', 'lion': '사자'}

# Dictionary 값 삭제
- del myDic["apple"]

# Dictionary 전체 비우기
- myDic.clear()

In [ ]:
del myDic["apple"]
myDic

{'dog': '강아지', 'cat': '고양이', 'lion': '사자'}

In [ ]:
del myDic["lion"]
myDic

{'dog': '강아지', 'cat': '고양이'}

In [ ]:
myDic.clear()
myDic

{}

In [ ]:
list1 = [1,2,3]
list1

[1, 2, 3]

In [ ]:
list1=[]
list1

[]

In [ ]:
list[0]=1 # 인덱스 에러 발생 (메모리 크기 없다. 튜플과 다름)

TypeError: ignored

In [ ]:
list1.append(10)
list1

[10]

In [ ]:
list1.append("kim")
list1

[10, 'kim']

In [ ]:
list1.append(100.56)
list1

[10, 'kim', 100.56]

# 함수
- 특정한 작업을 수행하는 명령어의 모음
- 데이터를 전달받을 수 있으며 호출자에게 반환
- 내장함수 (print(), input(), len(), ...)
- 사용자 정의 함수

# 함수 사용의 장점
- 중복 코드 제거
- 작업을 간단한 작업으로 분해 가능
- 재사용 가능
- 가독성 증대
- 유지보수 용이

# 매개변수 (parameter)
- 넘길 값(input)
- 인수(argument)

# : (범위 연산자)

In [ ]:
# 함수의 정의

def say_hello(name):
  print("안녕하세요!")
  print(name + "님!")

In [ ]:
# 함수의 호출

say_hello("Park")

안녕하세요!
Park님!

In [ ]:
say_hello ("철수")

안녕하세요!
철수님!

In [ ]:
say_hello ("영희")

안녕하세요!
영희님!

In [ ]:
# 함수의 정의

def say_hello2(name, msg):
  print("안녕하세요~")
  print(name, "님!")
  print(msg)

In [ ]:
say_hello2("Park","오늘도 화이팅!!!")

안녕하세요~
Park 님!
오늘도 화이팅!!!

In [ ]:
say_hello2(100,"오늘도 화이팅!!!") # +의 경우 int+str 불가 (이경우 ,로 바꾸거나 형변환 필요)

안녕하세요~
100 님!
오늘도 화이팅!!!

In [ ]:
def get_sum(start, end):
  sum = 0

  for i in range(start, end+1):
    sum += i

  print(sum)

In [ ]:
get_sum(1,10)

55

In [ ]:
def get_sum(start, end):
  sum = 0 # 지역변수

  for i in range(start, end+1):
    sum += i

  return sum # 지역변수 값이 내부에서 사라지기 전에 return

In [ ]:
value = get_sum(1,10)
value

55

In [ ]:
get_sum(1,20)

210

# 함수의 이름
- 동사 or 동사+명사
- 카멜 표기법 (SetName()) ... VB
- 파스칼 표기법 (setName()) ... Java