<a href="https://colab.research.google.com/github/Park-New-project/TIL/blob/main/%5BAI%5D_220921.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 0
num = 1

while num <= 100:
  sum = sum + num
  num = num + 1

print(sum)

5050

In [ ]:
num = 1

while num < 10:
  print(num)
  num = num + 1

1
2
3
4
5
6
7
8
9

In [ ]:
10 / 5 # 나누기

2.0

In [ ]:
10 % 5 # 나머지

0

In [ ]:
10 // 5 # 몫

2

# break 문
- 반복의 조건과 관계 없이 반복문 탈출

# continue 문
- 현재 수행중인 반복의 나머지 명령 중단하고 다음 단계 반복 진행

# else 문
- while 문의 아래에 else 문 사용
- break 로 탈출시 else 문 실행되지 않음

In [ ]:
num = 1

while num < 10:
  print(num)
  if num % 5 ==0:
    break
  num = num + 1
  
print("end")

1
2
3
4
5
end

In [ ]:
num = 0

while num < 10:
  num = num + 1
  if num % 3 == 0 or num % 5 == 0 :
    continue
  print(num)

1
2
4
7
8

In [ ]:
num = 1

while num < 6:
  print(num)
  num = num + 1

else:
  print("반복문 종료")

1
2
3
4
5
반복문 종료

# 인증
- break 와 else의 조합

In [ ]:
num = 0
while num < 3 :
  pswd = input("비밀번호 입력 : ")
  if pswd == "1234":
    print("로그인 성공")
    break
  num += 1

else:
  print("입력 횟수 초과로 로그인 실패")

비밀번호 입력 : 1242
비밀번호 입력 : 5323
비밀번호 입력 : 2131
입력 횟수 초과로 로그인 실패

In [ ]:
d = int(input("단 입력 : "))
n = 1

while n < 10 :
  print(d,"*", n, "=", d*n)
  n += 1

단 입력 : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

# for 문
- 시퀀스에 포함된 항목 순서대로 반복문 수행

# 시퀀스 (Sequence)
- 여러 항목을 저장하며 순서를 갖는 자료구조 
- 인덱스로 참조할 수 있다
- 항목의 데이터 타입이 다를 수 있다
- 연속적인 RDT (
  
### list
- 형태로 저장, 항목 수정 가능

### tuple
- 형태로 저장, 항목 수정 불가

### string
- 문자의 모임

In [ ]:
list1 = [10, 20, 30, 40]

print(list1)
print(list1[0])
print(list1[2])

print("===============================")

print(type(list1))
print(type(list1[0]))

[10, 20, 30, 40]
10
30
===============================
<class 'list'>
<class 'int'>

In [ ]:
a = [10, 100.647, "kim"]
print (a, "   ", type(a))
print (a[0], "                     ", type(a[0]))
print (a[1], "                ", type(a[1]))
print (a[2], "                    ", type(a[2]))

[10, 100.647, 'kim']     <class 'list'>
10                       <class 'int'>
100.647                  <class 'float'>
kim                      <class 'str'>

In [ ]:
b= [10, 20, 30]
print(b)

b[0] = 100
b[2] = "Park"

print(b)

[10, 20, 30]
[100, 20, 'Park']

# in 연산자, not in 연산자
- 항목이 sequence에 포함되는지 검사하는 연산

In [ ]:
x = ["apple", "banana"]
"banana" in x

True

In [ ]:
fruits = ['사과', '바나나', '포도', '체리', '수박']

print(len(fruits))
for x in fruits:
  print(x)

5
사과
바나나
포도
체리
수박

In [ ]:
t1 = ("사과",2,"hello")
t1

#변수명 없이도 사용 가능

('사과', 2, 'hello')

In [ ]:
t1[0]

'사과'

In [ ]:
t1[0] = '포도' #튜플 내용은 수정 불가

TypeError: ignored

In [ ]:
(100, 20, 30)

(100, 20, 30)

In [ ]:
sum = 0
t = (1,2,3,4,5,6,7)

for i in t:
  sum += i
  print(sum)

print("합 :", sum)

1
3
6
10
15
21
28
합 : 28

In [ ]:
#string

s = "hello"
print(s)
print(len(s))
print(s[0])

hello
5
h

In [ ]:
s = "hello"

for ch in s:
  print(ch, end = " ")

h e l l o

# range() 함수 
- 정수의 시퀀스를 생성하는 함수
- range(stop)
- range(start, stop)
- range(start, stop, step)

In [ ]:
# range()

print(range(5))

print(list(range(5)))

range(0, 5)
[0, 1, 2, 3, 4]

In [ ]:
print(range(1,11))

print(list(range(1,11)))

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(range(10, 100, 25))

print(list(range(10, 100, 25)))

range(10, 100, 25)
[10, 35, 60, 85]

In [ ]:
list(range(0,-10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
for x in range(0,10, 2):
  print(x)

0
2
4
6
8

In [ ]:
n = int(input("양의 정수 입력 : "))
sum = 0

for num in range(1,n+1):
  sum += num
  print (num," " , sum)

양의 정수 입력 : 100
1   1
2   3
3   6
4   10
5   15
6   21
7   28
8   36
9   45
10   55
11   66
12   78
13   91
14   105
15   120
16   136
17   153
18   171
19   190
20   210
21   231
22   253
23   276
24   300
25   325
26   351
27   378
28   406
29   435
30   465
31   496
32   528
33   561
34   595
35   630
36   666
37   703
38   741
39   780
40   820
41   861
42   903
43   946
44   990
45   1035
46   1081
47   1128
48   1176
49   1225
50   1275
51   1326
52   1378
53   1431
54   1485
55   1540
56   1596
57   1653
58   1711
59   1770
60   1830
61   1891
62   1953
63   2016
64   2080
65   2145
66   2211
67   2278
68   2346
69   2415
70   2485
71   2556
72   2628
73   2701
74   2775
75   2850
76   2926
77   3003
78   3081
79   3160
80   3240
81   3321
82   3403
83   3486
84   3570
85   3655
86   3741
87   3828
88   3916
89   4005
90   4095
91   4186
92   4278
93   4371
94   4465
95   4560
96   4656
97   4753
98   4851
99   4950
100   5050

In [ ]:
my_list = [1,2,3,4,5]

print(len(my_list))

for i in range(len(my_list)):
  my_list[i] *= 10

print(my_list)

5
[10, 20, 30, 40, 50]