<a href="https://colab.research.google.com/github/Park-New-project/TIL/blob/main/%5BAI%5D_220919.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 
- 파이썬 문법
- 파이썬 실습

# 데이터 분석
- Web 스크레이핑
- 파일 (Open API)
- 시각화

# AI
- ML 알고리즘
- DL 인공신경망 (라이브러리)

# 컴퓨터 
- 하드웨어(장치) + 소프트웨어(프로그램)

# 소프트웨어 / 프로그램
- 작업의 진행 순서를 나열 
- 명령어를 순서대로 나열

# 소프트웨어 종류
- 시스템 소프트웨어
- 응용 소프트웨어

# 프로그래밍 언어
- 프로그램 작성에 사용하는 언어
### 기계어
- 0과 1의 조합
### 어셈블리어
- 어셈블러 통해 기계어로 번역하다.
### 고급언어
- 인간이 사용하는 언어와 비슷하다.

# 고급언어
- 기계어로 번역하여 실행
### 컴파일러 언어
- 한꺼번에 번역
- 장점 : 실행시간이 빠르다.
- 단점 : 부분 수정도 전체 다시 번역.
### 인터프리터 언어
-. 명령어 단위로 한행씩
- 장점 : 상대적으로 쉽다.
- 단점 : 실행시간이 늦다.

# 파이썬
- 쉽고 생산성이 뛰어나고 라이브러리가 풍부하다.

# 응용분야 
- Numpy, Pandas, Matplotlib, SciPy
- Tensorflow, Keras
- Django, Flask
- PyGame

# 아나콘다 설치
- http://repo.anaconda.com/archive
### 파이썬 자습서
- https://docs.python.org/ko/3/tutorial/index.html
### 예제로 배우는 파이썬 프로그래밍
- http://pythonstudy.xyz/Python/Basics
### 점프 투 파이썬
- https://wikidocs.net/book/1

In [ ]:
100

100

In [ ]:
"안녕하세요"

'안녕하세요'

In [ ]:
100
"hello" # 마지막만 확인

'hello'

# 연산자
- 더하기 +
- 빼기 -
- 곱하기 *
- 나누기 /
- 나머지 %
- 거듭제곱 **

# 등호 (=)
- 변수 = 100
- 변수 = "Kim"

In [ ]:
print(100)
print("hello")

100
hello

In [ ]:
print(2+2)

4

In [ ]:
50-40+2+1

13

In [ ]:
# 나이를 구하시오.
2022-1998+1

25

# 데이터 타입
- 데이터 종류
### PDT (Primitive Data Type)
- int, char, float
### RDT (Reference Data Type)
- list, tuple, set, dic, class

# 변수
- 정수, 실수, 문자 아무거나 사용 가능하다.

In [ ]:
x, y, z = "오렌지", "바나나", "체리"
print(x)
print(y)
print(z)

오렌지
바나나
체리

In [ ]:
year = 1998
age = 2022 - year + 1
print(age)

25

In [ ]:
# print
x= "내 이름은 "
name="Park"
print(x+name+" 입니다.")

내 이름은 Park 입니다.

In [ ]:
i=100
x= "입니다."
print(i,x)

100 입니다.

# 데이터 타입
- 문자형 데이터 : str
- 숫자형 데이터 : int, float, complex (복소수)
- 시퀀스 데이터 : list, tuple, range
- 매핑 데이터 : dict
- 집합 데이터 : set
- 논리형 데이터 : bool
- 이진 데이터 : bytes, bytearray

# 패키지 / 모듈
- 폴더 (data.fruit.apple)

# 데이터타입 지정
- 형변환
- int(), float(), str()

In [ ]:
x = int(1)
y = int(2.8)
z = int(3)
print(x, y, z)

x = float(1)
y = float(2.8)
z = float(4.2)
print(x, y, z)

x = str("s1")
y = str(2)
z = str(3.0)
print(x, y, z)

1 2 3
1.0 2.8 4.2
s1 2 3.0

# 문자열

In [ ]:
"아름다운 " + "우리나라"

'아름다운 우리나라'

In [ ]:
line = "ㅋ" * 30
line

'ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ'

In [ ]:
print("제 나이는 %s 세 입니다." % age)

제 나이는 25 세 입니다.