<a href="https://colab.research.google.com/github/Park-New-project/TIL/blob/main/%5BAI%5D_220920.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 실습 1
name = "Park"
age = 25
address = "Korea"

print("/" + "*" * 32)
print("*" + " " * 31 + "*")
print("*         이름 : " + name + "           *")
print("*         나이 : " + str(age) + "             *")
print("*         주소 : " + address + "          *")
print("*" + " " * 31 + "*")
print("*" * 32 + "/")

/********************************
*                               *
*         이름 : Park           *
*         나이 : 25             *
*         주소 : Korea          *
*                               *
********************************/

In [ ]:
# 실습 2
ap = 4.5
a = 4
bp = 3.5
b = 3
cp = 2.5
c = 2

eng = 2 
mat = 3 
kor = 3
count = eng + mat + kor

eng = 2 * a
mat = 3 * bp
kor = 3 * c
sum = eng + mat + kor
avg = sum / count
print("철수의 평균 성적 : ", avg)

철수의 평균 성적 :  3.0625

# 인터페이스
- CLI(Command)
- GUI (Graphical)
- WUI (Web)
- Touch Interface

In [ ]:
2# 키보드 입력
i = input("숫자를 입력하세요 : ")
print(i)
print("입력 타입 : ", type(i)) # 입력받는 값은 str

숫자를 입력하세요 : 100
100
입력 타입 :  <class 'str'>

In [ ]:
a = input("첫번째 수 : ")
b = input("두번째 수 : ")
print(a+b)

첫번째 수 : 100
두번째 수 : 200
100200

In [ ]:
a = input("첫번째 수 : ")
b = input("두번째 수 : ")
print(int(a)+int(b))

첫번째 수 : 100
두번째 수 : 200
300

In [ ]:
# 이름과 생년을 입력받아 이름과 나이 출력
name = input("이름 : ")
year = input("생년 : ")
age = 2022 - int(year) + 1 
print(name + "의 나이는", age, "세 입니다.")

이름 : Park
생년 : 1998
Park의 나이는 25 세 입니다.

# int(input())
int(input("입력하세요 : "))

# input.split()
input("입력하세요 : ").split()

In [ ]:
x, y = input("남학생의 수와 여학생의 수를 입력하세요 : ").split()
print("남학생의 수 : ", x)
print("여학생의 수 : ", y)

남학생의 수와 여학생의 수를 입력하세요 : 100 200
남학생의 수 :  100
여학생의 수 :  200

In [ ]:
x, y = input("남학생의 수와 여학생의 수를 입력하세요 : ").split('$')
print("남학생의 수 : ", x)
print("여학생의 수 : ", y)

남학생의 수와 여학생의 수를 입력하세요 : 100$200
남학생의 수 :  100
여학생의 수 :  200

In [ ]:
a = int(input("수 입력 : "))
print(a)
print("입력 타입 : ", type(a))

수 입력 : 100
100
입력 타입 :  <class 'int'>

# 알고리즘
- 입력, 출력, 영향성, 유한성, 유효성

# 조건문
- if (switch X)

# 반복문
- while (do~while X)
- for

In [ ]:
# 실습 3
r = 3
pi = 3.14159

area = pi * r**2
vol = 4/3 * pi * r**3
print(area, vol)

28.27431 113.09723999999999

# 순차구조
- 순차적으로 실행하고 끝남

# 조건구조
- 조건이 참이면 실행
- if 문
- 다중 if 문

# 반복구조
- 조건이 참이면 반복
- while 문

In [3]:
num = int(input("정수를 입력 : "))

if num % 2 == 0:
  print("짝수")
  
else: 
  print("홀수")

정수를 입력 : 31
홀수

In [5]:
num = int(input("정수를 입력 : "))

if num == 1:
  print("1 입니다")

elif num == 2:
    print("2 입니다")
  
elif num == 3:
    print("3 입니다")
  
else: 
  print("not")

정수를 입력 : 1
1 입니다

In [10]:
name = input("이름 : ")
kor = int(input("국어 성적을 입력 : "))
eng = int(input("영어 성적을 입력 : "))
mat = int(input("수학 성적을 입력 : "))
sum = kor + eng + mat
avg = sum/3
grade = ""

if avg == 100:
  grade = "A++"

elif avg > 90:
  grade = "A"
  
elif avg > 80:
  grade = "B"

elif avg > 70:
  grade = "C"

elif avg > 60:
  grade = "D"
  
else: 
  grade = "F"

print("="*40)
print("이름   국어    영어    수학    총점    평균    학점")
print("="*40)
print(name, "   ",kor, "   ",eng, "   ",mat, "   ",sum, "   ",avg,"   ",grade)

이름 : Park
국어 성적을 입력 : 92
영어 성적을 입력 : 87
수학 성적을 입력 : 88
========================================
이름   국어    영어    수학    총점    평균    학점
========================================
Park     92     87     88     267     89.0     B

# 관계 연산자
- a==b, a!=b, a>b, a<b, a>=b,a<=b

# 논리 연산자
- a and b, a or b, not a

# 들여쓰기
- ":" 조건 아래의 명령은 반드시 들여 쓰기를 해야 하고 동일하게 맞춰야 한다.

In [18]:
a = int(input("정수 A를 입력 : "))
b = int(input("정수 B를 입력 : "))
c = int(input("정수 C를 입력 : "))

if a > b :
  if a > c:
    max = a
  else : 
    max = c
else:
  if b > c:
    max = b
  else : 
    max = c

print("제일 큰 수는", max)

정수 A를 입력 : 6
정수 B를 입력 : 3
정수 C를 입력 : 11
제일 큰 수는 11

# 무한 루프
- 종료 조건을 만족하지 못하고 무한 실행

In [20]:
cnt = 1

while cnt < 5:
  print(cnt)
  cnt = cnt+1
print ("end")

1
2
3
4
end

In [21]:
cnt = 1

while cnt < 5:
  cnt = cnt+1
  print(cnt)
print ("end")

2
3
4
5
end