<a href="https://colab.research.google.com/github/Park-New-project/TIL/blob/main/%5BAI%5D_220922.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중첩 반복문
- 반복문 안에 반복문
- outer loop
- inner loop

In [ ]:
i = 1
while i <4:
  j = 1
  while j < 4:
    print(i, " ",j)
    j += 1
  i += 1

1   1
1   2
1   3
2   1
2   2
2   3
3   1
3   2
3   3

In [ ]:
while True :
  num = int(input("양의 정수(종료 -1) : "))
  if num == -1:
    break
  i = fact = 1
  while i <= num:
    fact = fact * i
    i = i + 1
    print("%s!=%s"%(i-1, fact))

양의 정수(종료 -1) : 10
1!=1
2!=2
3!=6
4!=24
5!=120
6!=720
7!=5040
8!=40320
9!=362880
10!=3628800
양의 정수(종료 -1) : -1

In [ ]:
for x in range(2,10):
  for y in range(1,10):
    print("%s*%s=%s"%(x,y, x*y), end="  ")
  print()

2*1=2  2*2=4  2*3=6  2*4=8  2*5=10  2*6=12  2*7=14  2*8=16  2*9=18
3*1=3  3*2=6  3*3=9  3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27
4*1=4  4*2=8  4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36
5*1=5  5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45
6*1=6  6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54
7*1=7  7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63
8*1=8  8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72
9*1=9  9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

In [ ]:
for y in range(1,10):
  for x in range(2,10):
    print("%s*%s=%s"%(x,y, x*y), end="  ")
  print()

2*1=2  3*1=3  4*1=4  5*1=5  6*1=6  7*1=7  8*1=8  9*1=9
2*2=4  3*2=6  4*2=8  5*2=10  6*2=12  7*2=14  8*2=16  9*2=18
2*3=6  3*3=9  4*3=12  5*3=15  6*3=18  7*3=21  8*3=24  9*3=27
2*4=8  3*4=12  4*4=16  5*4=20  6*4=24  7*4=28  8*4=32  9*4=36
2*5=10  3*5=15  4*5=20  5*5=25  6*5=30  7*5=35  8*5=40  9*5=45
2*6=12  3*6=18  4*6=24  5*6=30  6*6=36  7*6=42  8*6=48  9*6=54
2*7=14  3*7=21  4*7=28  5*7=35  6*7=42  7*7=49  8*7=56  9*7=63
2*8=16  3*8=24  4*8=32  5*8=40  6*8=48  7*8=56  8*8=64  9*8=72
2*9=18  3*9=27  4*9=36  5*9=45  6*9=54  7*9=63  8*9=72  9*9=81

In [ ]:
# 삼각형 그리기 1
for x in range(10):
  for y in range(x+1):
    print("*", end =" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
# 삼각형 그리기 2
for x in range(10):
  for y in range(10):
    if x < 9 - y:
      print(" ", end =" ")
    else :
      print("*", end =" ")
  print()

                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [ ]:
# 삼각형 그리기 3
for x in range(10):
  for y in range(10):
    if (y < x):
      print(" ", end =" ")
    else:
      print("*", end =" ")
  print()

* * * * * * * * * *
  * * * * * * * * *
    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
d = int(input("원하는 단 : "))

for i in range(1,10):
  print("%s*%s=%s"%(d,i,d*i))

원하는 단 : 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

# str.split() 메소드
- 문자열에서 단어를 분리할 때 사용한다

# .format() 함수
- 하나의 값을 주어진 형식의 문자열로 변환

# str.format() 메소드
- 여러 변수를 출력할 때 사용
- 중괄호 {}에 데이터가 채워짐

In [ ]:
statement = input("문장을 입력 : ")

for word in statement.split():
  print(word)

문장을 입력 : 안녕하세요 제 나이는 16세 이고 번호는 010 이고 제 주소는 A 아파트 12동 205호 입니다
안녕하세요
제
나이는
16세
이고
번호는
010
이고
제
주소는
A
아파트
12동
205호
입니다

In [ ]:
statement = input("문장을 입력 : ")

for word in statement.split():  
  for digit in "0123456789":
    if digit in word : 
      break
  else:
    print(word, end=" ")

문장을 입력 : 안녕하세요 제 나이는 16세 이고 번호는 010 이고 제 주소는 A 아파트 12동 205호 입니다
안녕하세요 제 나이는 이고 번호는 이고 제 주소는 A 아파트 입니다

In [ ]:
a = 23
b = 2.34567

In [ ]:
print("%10d %s %.2f"%(a,"kim", b))

        23 kim 2.35

In [ ]:
print(format(a, "10d"), format(b, ".2f")) # 소수점 둘째자리

        23 2.35

In [ ]:
print(format(1234567, ",d")) # 1000단위 마다 ,추가

1,234,567

In [ ]:
print(format(1234567.890123, ",.2f")) # 소수점 둘째자리 + 1000단위 마다 ,추가

1,234,567.89

In [ ]:
print("{} {}".format(23, 1234.567))

23 1234.567

In [ ]:
"{} {}".format(23, 1234.567)

'23 1234.567'

In [ ]:
list1 = [1,3,5,7,4,5]

'최소값:{1}, 최대값: {0}'.format(max(list1), min(list1))

'최소값:1, 최대값: 7'

In [ ]:
'나이 :{age}, 키 :{height}'.format(age = 20, height=170) # str.format()

'나이 :20, 키 :170'

# list
- 여러가지 값을 순서대로 저장
- 대괄호[]
- 안의 값을 아이템으로 부름
- array + struct (배열 + 구조체)
- 값 변경가능
- 인덱스로 참조가능
- 리스트가 가진 값의 개수 초과하는 인덱스 사용 불가능
- -1로 마지막 인덱스 참조 가능하다.

In [ ]:
testList = [10, 20, '한국', '미국']

print(testList)
print(type(testList))
print()
print(testList[0] , " ", type(testList[0]))
print(testList[2] , " ", type(testList[2]))

[10, 20, '한국', '미국']
<class 'list'>

10   <class 'int'>
한국   <class 'str'>

In [ ]:
testList[0] = '중국'

print(testList)

['중국', 20, '한국', '미국']

# 중첩 리스트
- 리스트 안에 다른 리스트를 하나의 아이템으로 가질 수 있다.

In [ ]:
s= [[100,90,80],[20,30,40],[40,50,60]]

print(s)
print(s[0])
print(s[0][2])

[[100, 90, 80], [20, 30, 40], [40, 50, 60]]
[100, 90, 80]
80

# 부분 리스트 (슬라이싱)
- 리스트 중 일부분
- testList[i]
- testList[start:]
- testList[:stop]
- testList[start:stop]
- 전체 : testList[:]

In [ ]:
testList = [1,2,3,4,5]

print(testList)
print(testList[:])
print(testList[1:4])
print(testList[:4])
print(testList[2:])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4]
[1, 2, 3, 4]
[3, 4, 5]

# 리스트 값 추가
- testList[i] = 10

# 리스트 연결
- + 리스트 연결 (합집합)
- * 리스트 반복 생성

# 리스트 값 삭제
- del testList[i]
- testList.remove(x)

# 리스트 - 동적
- stack(FILO, PDT)
- static(정적 기억장소)
- heap(동적 기억장소, RDT)

In [ ]:
testList = [10, 2, 50, 6, 9, 7]
print(testList)

[10, 2, 50, 6, 9, 7]

In [ ]:
del testList[1]
print(testList)

[10, 7]

In [ ]:
testList = [10, 2, 50, 6, 9, 7]
print(testList)

[10, 2, 50, 6, 9, 7]

In [ ]:
testList.remove(10)
print(testList)

[2, 50, 6, 9, 7]

In [ ]:
testList.remove(10)
print(testList) # 값이 없으므로 에러 발생

ValueError: ignored

In [ ]:
testList = [5,-1, 3, 2]
print(testList)

testList.sort()
print(testList)

[5, -1, 3, 2]
[-1, 2, 3, 5]